<main class="flex-fill">
  <div class="container text-center">
    <h1 class="m-3">New Activity</h1>

    <%= render 'form' %>

    <%= link_to 'Back', activities_path, class: 'btn btn-primary' %>
  </div>  
</main>
